<!DOCTYPE html>

<html>
    <head>
        <title>Summary Table</title>
    </head>
    <body>
        <table border = '1px'>
            <tr>
                <th>Primary School</th>
                <th>No. Of Students</th>
                <th>Mean Achievement Level</th>
            </tr>
            {% for record in data %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
            </tr>
            {% endfor %}
        </table>

        <form action = '/enrol' method = 'post'>
            Enter the cutoff: <input type = 'text' name = 'cutoff'>
            <input type = 'submit' value = 'Submit'>
        </form>
    </body>
</html>