<!DOCTYPE html>

<html>
    <head>
        <title>Input Competition</title>
    </head>

    <body>
        <fieldset>
            <form action = '/' method = 'post'>
                <p>Input Competition ID: <input type = 'text' name = 'compID'></p>
                <p>Input Member ID: <input type = 'text' name = 'memID'></p>
                <p>Input Score: <input type = 'text' name = 'score'></p>
                <input type = 'submit' value = 'Submit'>
            </form>
        </fieldset>
    </body>
</html>