<!DOCTYPE html>

<html>
    <head>
        <title>View Workload</title>
    </head>

    <body>
        <table border = '1px'>
            <tr>
                <th>Staff Name</th>
                <th>Staff Role</th>
                <th>Number of Appointments Handled</th>
            </tr>
            {% for row in result %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>