<!DOCTYPE html>

<html>
    <head>
        <title>
            Insert Certificate Record
        </title>
    </head>
    <body>
        <form method = "POST">
            <input type = "number", name= "MemberID">Enter Member ID</input><br><br>
            <input type = "number", name= "CourseCode">Enter Course Code</input><br><br>
            <input type = "text", name= "Date">Enter issue date</input><br><br>
            <button type = 'submit', >Submit request</button>
        </form>
    </body>
</html>